<h1>Add a Contact</h1>
<form action="/contacts" method="post">
  <label for="contactName">Name: </label>
  <input id="contactName" name="contactName" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back to All Contacts</a></p>
