<h1>Add a Contact</h1>
<form action="/contacts" method="post">
  <label for="contactName">Name: </label>
  <input id="contactName" name="contactName" type="text">

  <label for="contactPhone">Phone Number: </label>
  <input id="contactPhone" name="contactPhone" type="text">

  <label for="contactAddress">Address: </label>
  <input id="contactAddress" name="contactAddress" type="text">

  <button type="submit">Add New Contact</button>
</form>
<p><a href="/">Back to All Contacts</a></p>
