<h3>Here is @Model.GetName()'s contact information:</h3>
<ul>
  <li>Phone Number: @Model.GetPhone()</li>
  <li>Address: @Model.GetAddress()</li>
</ul>

<p><a href="/">Back to All Contacts</a></p>
<p><a href="/contacts/new">Add a new Contact</a></p>
